/*portfolio  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #fdf7f7;
    color: #120c0c;
    line-height: 1.6;
}

.container {
    width: 85%;
    margin: 0 auto;
}

header {
    background: linear-gradient(135deg, #ee859f, #f8b248);
    color: rgb(18, 17, 17);
    padding: 60px 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header .tagline {
    font-size: 1.3rem;
    font-weight: 300;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background: #070202;
}

#about .profile-image {
    width: 190px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    border: 5px solid #030304;
}
#about .bio {
    color: #f9f9f9;
    max-width: 600px;
}

#about h2 {
    font-size: 2rem;
    color: #fce306;
    margin-bottom: 10px;
}

#skills {
    background-color: #989898;
    padding: 40px 0;
}

#skills h2 {
    text-align: center;
    font-size: 2.2rem;
    color: #333;
    margin-bottom: 20px;
}

.skills-list {
    display: flex;
    justify-content: space-around;
}

.skill {
    width: 200px;
    text-align: center;
}

.bar {
    height: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.html { background-color: #E44D26; width: 90%; }
.js { background-color: #F7DF1E; width: 80%; }
.react { background-color: #61DBFB; width: 70%; }
.node { background-color: #8CC84B; width: 75%; }

#projects {
    padding: 60px 0;
    background-color: #9ebad2;
}

#projects h2 {
    text-align: center;
    font-size: 2.2rem;
    color: #e9a404;
    margin-bottom: 40px;
}

.project {
    margin-bottom: 40px;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.project h3 {
    font-size: 1.8rem;
    color: #faa907;
    margin-top: 15px;
}

#resume {
    background-color: #f9f9f9;
    padding: 40px 0;
    text-align: center;
}

#resume a {
    text-decoration: none;
    background-color: #fd1c6f;
    color: rgb(252, 225, 225);
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

#resume a:hover {
    background-color: #6A11CB;
}

#contact {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

#contact p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#contact a {
    color: #2575FC;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1rem;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #2575FC;
}
